@use "variables";
@use "mixins";

body {
  margin: 0 auto;
  width: 100%;
}
header {
  display: flex;
  flex-direction: column;
  gap: 25vh;
  color: variables.$primary-color;
  height: 100vh;
  background-image: url(../assets/negative-space-black-forest-dawn.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  #welcome {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 15pt;
  }

  nav {
    background-color: rgba($color: #ffffff, $alpha: 0.25);
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 25px;
    gap: 25px;

    a {
      color: variables.$primary-color;
      text-decoration: none;
    }
  }
  .arrowLink {
    display: flex;
    justify-content: center;
    color: variables.$primary-color;
    text-decoration: none;
    margin-top: 50px;
  }
}
h2 {
  display: flex;
  justify-content: center;
}
section {
  @extend %flex;
  margin: 25px;
  height: 2050px;

  .profile {
    @extend %flex;
  }
  .beskrivning {
    width: 250px;
    padding: 30px;
    margin: 25px;
    border-radius: 5px;
    background-color: lightgrey;
  }
  .image-wrapper {
    width: 250px;
    img {
      width: 100%;
      border-radius: 50%;
      box-shadow: 0px 0px 30px 0px grey;
    }
  }
}
.arrowLink {
  display: flex;
  justify-content: center;
  color: variables.$secondary-color;
  text-decoration: none;
  margin-bottom: 50px;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 15px;
  height: 500px;
  background-color: variables.$secondary-color;
  div,
  nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  nav {
    gap: 20px;
  }
  address,
  a {
    color: variables.$primary-color;
    font-style: normal;
    font-size: 1.4rem;
    text-decoration: none;
    margin-left: 75px;
  }
  a {
    font-size: 1.5rem;
  }
}
@include mixins.desktop-only {
  header > #welcome {
    font-size: 12pt;
  }
  section {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 500px 500px;
    row-gap: 25px;
    column-gap: 50px;
    height: 1050px;
    .profile {
      width: 500px;
    }
    .beskrivning {
      width: 400px;
      padding: 15px;
    }
    img {
      width: 250px;
    }
  }
  footer {
    height: 20vh;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-top: 50px;
    address,
    a {
      font-size: 1em;
    }
  }
}
