@use "variables";
@use "mixins";

body {
  margin: 0 auto;
  width: 100%;
}
header {
  display: flex;
  flex-direction: column;
  gap: 25vh;
  color: variables.$primary-color;
  height: 100vh;
  background-image: url(../assets/negative-space-black-forest-dawn.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  #welcome {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
  }

  nav {
    background-color: rgba($color: #ffffff, $alpha: 0.25);
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 25px;
    gap: 25px;

    a {
      color: variables.$primary-color;
      text-decoration: none;
    }
  }
  .arrowLink {
    display: flex;
    justify-content: center;
    color: variables.$primary-color;
    text-decoration: none;
    margin-top: 50px;
  }
}
h1 {
  display: flex;
  justify-content: center;
}
section {
  @extend %flex;
  margin: 25px;
  height: 1750px;

  .profile {
    @extend %flex;
  }
  .beskrivning {
    width: 250px;
    padding: 30px;
    margin: 25px;
    border-radius: 5px;
    background-color: lightgrey;
  }
  img {
    width: 200px;
    border-radius: 50%;
    filter: drop-shadow(5px 5px 5px grey);
  }
  .arrowLink {
    display: flex;
    justify-content: center;
    color: variables.$secondary-color;
    text-decoration: none;
  }
}
footer {
  @extend %flex;
  height: 500px;
  background-color: variables.$secondary-color;
  address {
    color: variables.$primary-color;
    font-style: normal;
  }
}
@media screen and (min-width: 768px) {
  section {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 500px 500px;
    row-gap: 25px;
    height: 1050px;
    .profile {
      width: 500px;
    }
    img {
      width: 300px;
    }
  }
  footer {
    height: 250px;
  }
}
