@use "variables";
@use "mixins";

body {
  margin: 0 auto;
  width: 100%;
  font-size: 12pt;
}
.header {
  background-color: rgba($color: #ffffff, $alpha: 0.15);
  width: 100%;
  position: absolute;
}

.header ul {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  overflow: hidden;
}

.header li a {
  color: #ffffff;
  display: block;
  text-decoration: none;
  font-size: 1.5rem;
}
.header li a:hover,
.header .menu-btn:hover {
  text-decoration: underline;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #fff;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
#home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: variables.$primary-color;
  height: 100vh;
  background-image: url(../assets/negative-space-black-forest-dawn.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  #welcome {
    display: flex;
    flex-flow: column;
    text-align: center;
    margin-top: 35vh;
    font-size: 1.4rem;
  }

  .arrowLink {
    display: flex;
    justify-content: center;
    color: variables.$primary-color;
    text-decoration: none;
    margin-top: 50px;
  }
}
h2 {
  display: flex;
  justify-content: center;
}
section {
  @extend %flex;
  margin: 25px;
  height: 2050px;

  .profile {
    @extend %flex;
  }
  .beskrivning {
    width: 250px;
    padding: 30px;
    margin: 25px;
    border-radius: 5px;
    background-color: lightgrey;
  }
  .image-wrapper {
    width: 250px;
    img {
      width: 100%;
      border-radius: 50%;
      box-shadow: 0px 0px 30px 0px grey;
    }
  }
}
.arrowLink {
  display: flex;
  justify-content: center;
  color: variables.$secondary-color;
  text-decoration: none;
  margin-bottom: 50px;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 15px;
  height: 500px;
  background-color: variables.$secondary-color;
  div,
  nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  nav {
    gap: 20px;
  }
  address,
  a {
    color: variables.$primary-color;
    font-style: normal;
    font-size: 1.4rem;
    text-decoration: none;
    margin-left: 25vw;
  }
}
@include mixins.desktop-only {
  .header ul {
    width: 100%;
    float: right;
  }
  .header li {
    float: right;
  }
  .header li a {
    padding: 20px 30px;
    font-size: 1rem;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  #home > #welcome {
    font-size: 1.2rem;
  }

  section {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 500px 500px;
    row-gap: 25px;
    column-gap: 50px;
    height: 1050px;
    .profile {
      width: 500px;
    }
    .beskrivning {
      width: 400px;
      padding: 15px;
    }
    img {
      width: 250px;
    }
  }
  footer {
    height: 30vh;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    address,
    a {
      margin: 0;
      font-size: 1.2rem;
    }
  }
}
